<h2>Hola soy la pagina de Novedades</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus molestiae quisquam quos animi adipisci repellat mollitia recusandae asperiores aliquid. Repellendus tempora saepe a provident in maxime labore aspernatur ipsa enim!</p>
<nav>
    <ul>
        <li><a href="/nosotros">Nosotros</a></li>
        <li><a href="/novedades">Novedades</a></li>
        <li><a href="/contacto">Contacto</a></li>
    </ul>
</nav>